h1{
    color: black;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1em;
    margin-left: 5cm;
}
body {
    background-image: url('../img/Flag_of_Argentina.svg.png');
    background-position: center 100%;
}